@use 'sass:math';

@import './variables';
@import './breakpoints';

html {
  @include media-breakpoint-down(xl) {
    font-size: $base-font-size-px;
  }

  @include media-breakpoint(xl) {
    font-size: #{$base-font-size * math.div(1, 1536) * 100}vw;
  }
}

body {
  font-family: $base-font-family;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 120%;

  @include media-breakpoint(xs) {
    font-size: 1.4rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  padding: 0;
  margin: 0;
  letter-spacing: 0.005em;
}

h1,
.h1 {
  font-family: KodeMono, sans-serif;
  font-size: 5rem;
  font-weight: 700;
  line-height: 90%;
  text-transform: uppercase;

  @include media-breakpoint(xs) {
    font-size: 3rem;
  }
}

.fs-1 {
  font-size: 5rem;
}

h2,
.h2 {
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 90%;
  text-transform: lowercase;

  @include media-breakpoint(xs) {
    font-size: 2.8rem;
  }
}

.fs-2 {
  font-size: 3.6rem;
}

h3,
.h3 {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 100%;
  text-transform: lowercase;

  @include media-breakpoint(xs) {
    font-size: 1.8rem;
  }
}

.fs-3 {
  font-size: 2.5rem;
}

h4,
h5,
h6,
.h4,
.h5,
.h6 {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 81%;
}

.fs-4 {
  font-size: 1.8rem;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 90%;
  text-transform: uppercase;
}

.body-1 {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 120%;

  @include media-breakpoint(xs) {
    font-size: 1.4rem;
  }
}

.number-1 {
  font-family: 'Aeonik Fono', monospace;
  font-size: 4.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 104%;
  text-transform: uppercase;

  @include media-breakpoint(xs) {
    font-size: 3.8rem;
  }
}

.number-2 {
  font-family: 'Aeonik Fono', monospace;
  font-size: 2.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1;

  @include media-breakpoint(xs) {
    font-size: 2rem;
  }
}

.number-3 {
  font-family: 'Aeonik Fono', monospace;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  line-height: 90%;

  @include media-breakpoint(xs) {
    font-size: 2rem;
  }
}

.caption {
  font-size: max(1rem, 11px);
  font-weight: 400;
  line-height: 90%;
  text-transform: uppercase;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
