<div class="main-layout">
  <ng-template #content><ng-content></ng-content></ng-template>

  <ng-container *ngIf="!hideShell; else authLayout">
    <app-header></app-header>

    <div
      class="main-layout__content"
      (window:resize)="onResize($event)"
      *ngIf="!isMobileView">
      <app-sidebar></app-sidebar>
      <app-animate-line
        *ngIf="verticalLineAnimating"
        [direction]="DirectionType.Row"
        size="100%"
        [resetKey]="lineResetKey"
        (animationComplete)="onVerticalLineAnimationComplete()" />
      <div
        *ngIf="!verticalLineAnimating"
        class="main-layout__divider"
        aria-hidden="true"></div>
      <div #contentRouter class="main-layout__content_router">
        <ng-container *ngTemplateOutlet="content"></ng-container>
      </div>
    </div>

    <!--  Mobile View  -->
    <div
      class="main-layout__content"
      [ngClass]="{ mobile: isMobileView }"
      (window:resize)="onResize($event)"
      *ngIf="isMobileView">
      <div class="main-layout__content_mobile">
        <ng-container *ngTemplateOutlet="content"></ng-container>
      </div>
      <app-mobile-bottom-nav
        [navCompact]="mobileNavCompact"></app-mobile-bottom-nav>
    </div>
  </ng-container>

  <ng-template #authLayout>
    <div class="main-layout__auth">
      <ng-container *ngTemplateOutlet="content"></ng-container>
    </div>
  </ng-template>
</div>
