@import '@vodis/ui-kit/styles/breakpoints';

:host {
  .main-layout {
    height: 100vh;

    &__content {
      display: grid;
      height: calc(100vh - 4rem);
      grid-auto-flow: column;
      grid-template-columns: repeat(7, minmax(0, 1fr));

      &.mobile {
        display: grid;
        height: calc(100vh - 4rem);
        grid-auto-flow: row;
        grid-template-columns: none;
        grid-template-rows: 1fr 4rem;

        &_mobile {
          height: calc(100vh - 4rem);
        }
      }
    }
  }
}
