<header class="header">
  <div class="d-flex align-items-center h-100">
    <div class="header__content w-100 h-100">
      <a
        class="header__logo d-flex align-items-center justify-content-center"
        routerLink="/"
        routerLinkActive="_active">
        <img
          alt="CraftScript Logo"
          height="50"
          loading="lazy"
          src="../../../assets/img/logo/logo.svg" />
      </a>
    </div>
  </div>
  <div class="header__animate-bottom"></div>
  <app-animate-line />
</header>
