:host {
  .header {
    display: flex;
    height: 4rem;
    flex-direction: column;

    &__content {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
    }
  }

  .mobile .header {
    &__content {
      display: grid;
      grid-auto-flow: column;
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}
