@use '@vodis/cs-foundation/styles/breakpoints' as *;

:host {
  .side-modal-backdrop {
    position: fixed;
    z-index: 200;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / 35%);
    opacity: 0;
    pointer-events: none;
    transition:
      opacity 0.2s ease-in-out,
      visibility 0s linear 0.2s;
    visibility: hidden;

    &.open {
      opacity: 1;
      pointer-events: auto;
      transition:
        opacity 0.2s ease-in-out,
        visibility 0s linear 0s;
      visibility: visible;
    }

    &--left {
      right: auto;
      left: 0;
      transform: translateX(-100%);

      &.open {
        transform: translateX(0);
      }
    }
  }

  .side-modal {
    position: fixed;
    z-index: 201;
    top: 0;
    right: 0;
    display: flex;
    overflow: hidden;
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: var(--main-bg-color, #171c1f);
    pointer-events: none;
    transform: translateX(100%);
    visibility: hidden;

    > * {
      min-height: 0;
      flex: 1 1 auto;
    }

    &.open {
      overflow: hidden auto;
      -webkit-overflow-scrolling: touch;
      overscroll-behavior: contain;
      pointer-events: auto;
      transform: translateX(0);
      visibility: visible;
    }

    @include media-breakpoint-up(md) {
      width: 66.67%;
    }

    @include media-breakpoint-up(lg) {
      width: 50%;
    }

    @include media-breakpoint-up(xl) {
      width: 33.3%;
    }
  }
}
