<div class="sidebar h-100">
  <div class="sidebar__lines" aria-hidden="true">
    <ng-container *ngFor="let play of [lineResetKey]">
      <span
        *ngFor="let index of lineIndexes; trackBy: trackById"
        class="sidebar__line"
        [class.sidebar__line--static]="menuReady"
        [style.--line-to]="lineTo(index)"
        [style.animation-duration.s]="lineDurationSeconds"
        (animationend)="onLineAnimationEnd(index, play)"></span>
    </ng-container>
  </div>

  <nav class="sidebar__nav" *ngIf="menuReady">
    <ul class="sidebar__menu">
      <li
        *ngFor="let item of menuItems; trackBy: trackById"
        class="sidebar__slot">
        <a
          class="menu-link"
          [routerLink]="localizedRouting.path(item.url)"
          routerLinkActive="_is-active"
          [routerLinkActiveOptions]="{ exact: item.url === '/' }"
          >{{ item.name | csTranslate: item.fallback }}</a
        >
      </li>
    </ul>
  </nav>
</div>
